langchain
langsmith
langchain_groq
langgraph
langchain_community
python-dotenv
langchain_tavily
fastapi
uvicorn
pymongo
chromadb
sentence-transformers
python-multipart
passlib
bcrypt<5
python-jose
pypdf
pydantic-settings
email-validator
aiofiles